<div class="row">
  <div class="col-md-12">
    <h1> Search Dishes </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for Dishes...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">

    <div class="col-md-12 hero-feature">
      <div class="list-group">
        <li class="list-group-item" *ngFor="let item of dishes">
            <h3 class="text-info">{{ item.Restaurant_name }} <span class="badge pull-right">{{ item.score }}</span></h3>
            <h4>{{ item.Dish_name }}</h4>
            <p>{{ item.description }}</p>
        </li>
      </div>
    </div>


</div>
